<!-- Switcher -->
<div class="fixed top-1/4 -left-2 z-50 hidden sm:block">
    <span class="relative inline-block rotate-90">
        <input type="checkbox" class="checkbox opacity-0 absolute" id="chk">
        <label class="label bg-slate-900 dark:bg-white shadow dark:shadow-gray-800 cursor-pointer rounded-full flex justify-between items-center p-1 w-14 h-8" for="chk">
            <i class="uil uil-moon text-[20px] text-yellow-500"></i>
            <i class="uil uil-sun text-[20px] text-yellow-500"></i>
            <span class="ball bg-white dark:bg-slate-900 rounded-full absolute top-[2px] left-[2px] w-7 h-7"></span>
        </label>
    </span>
</div>

<div class="fixed top-1/2 -left-11 z-50 hidden sm:block">
    <a href="https://1.envato.market/shreethemes-portfolio" target="_blank" class="py-1 px-3 relative inline-block rounded-b-md -rotate-90 bg-white dark:bg-slate-900 shadow-md dark:shadow dark:shadow-gray-700 font-semibold"><i class="mdi mdi-cart-outline mr-1"></i> Download</a>
</div>
<!-- Switcher -->