@import url('https://fonts.googleapis.com/css2?family=Urbanist:wght@400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

body {
  @apply font-urbanist;

  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
}

*::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}
*::-webkit-scrollbar-track,
*::-webkit-scrollbar-corner {
  background: rgba(0, 0, 0, 0) !important;
}
*::-webkit-scrollbar-thumb {
  background: rgba(100, 230, 42, 0.6);
  border-radius: 24px;
  border: 2px solid rgba(0, 0, 0, 0);
}
*::-webkit-scrollbar-thumb:hover {
  background: rgba(100, 230, 42, 1);
}
.wizard-step-wrapper {
  @apply flex-1 overflow-x-hidden;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}

pre {
  overflow-y: auto;
}

input:focus,
textarea:focus,
select:focus {
  outline: none !important ;
}

/** Global classes... Might be better at components.css... */

.asset-image-wrapper {
  @apply h-auto w-full overflow-hidden;

  border-radius: 6px;
}
.asset-image-wrapper--preview {
  @apply block h-full;
}
.asset-image-wrapper img {
  @apply h-[285px] w-full rounded-xl object-cover duration-700 ease-in-out;
}

/**
 * ==============================================
 * Dot Flashing Animation & Classes
 * ==============================================
 */
.dot-flashing {
  display: block;
  position: relative;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: #9880ff;
  color: #9880ff;
  animation: dot-flashing 1s infinite linear alternate;
  animation-delay: 0.5s;
}
.dot-flashing::before,
.dot-flashing::after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
}
.dot-flashing::before {
  left: -15px;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: #9880ff;
  color: #9880ff;
  animation: dot-flashing 1s infinite alternate;
  animation-delay: 0s;
}
.dot-flashing::after {
  left: 15px;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: #9880ff;
  color: #9880ff;
  animation: dot-flashing 1s infinite alternate;
  animation-delay: 1s;
}

@keyframes dot-flashing {
  0% {
    background-color: #9880ff;
  }
  50%,
  100% {
    background-color: rgba(152, 128, 255, 0.2);
  }
}
