.wizard-step__content-wrapper {
  @apply flex max-h-[calc(740px-5rem)] w-full flex-1 snap-y snap-proximity flex-wrap justify-center gap-x-3 gap-y-7 overflow-y-auto;

  scrollbar-color: rgba(100, 230, 42, 0.6) rgba(0, 0, 0, 0);
  scrollbar-width: thin;
}

.wizard-step__content-wrapper--chat {
  @apply h-full max-h-[calc(93vh-194px-1.5rem)] min-h-[calc(93vh-194px-1.5rem)];
}

.wizard-step-card {
  @apply flex h-[100px] w-[calc(50%-1.5rem)] max-w-sm border-spacing-6 snap-center scroll-mb-24 flex-col items-center gap-2 overflow-hidden rounded border border-solid border-white border-opacity-30 bg-white bg-opacity-5 p-3 shadow-lg transition-all hover:border-opacity-60 hover:bg-opacity-10;

  border-radius: 6px;
}
.wizard-step-card--inspiration {
  @apply h-[280px] w-[calc(100%-1.5rem)] xs:w-[calc(50%-1.5rem)];
}
.wizard-step-card--inspiration picture,
.wizard-step-card--inspiration img {
  @apply h-full;
}
.wizard-step-card--style {
  @apply h-[260px] w-[calc(100%-1.5rem)] xs:w-[calc(50%-1.5rem)];
}
.wizard-step-card--full {
  @apply min-w-[calc(100%-2.25rem)];
}

.wizard-step-card > label {
  @apply flex h-full w-full flex-1 cursor-pointer flex-col items-center justify-center text-lg font-bold;
}

.wizard-step-card > label > img {
  border-radius: 6px;
}

.wizard-step-card > label > input {
  @apply hidden;
}

.wizard-step-card--selected,
.wizard-step-card--selected:hover,
.wizard-step-card:focus-within {
  @apply border-opacity-100 bg-opacity-10;
}

.wizart-step-card__style-preview,
.wizart-step-card__style-preview img {
  @apply h-[200px] rounded-xl;
}
