.wizard-step__content-wrapper {
  @apply flex-1 flex flex-wrap gap-x-3 gap-y-7 w-full justify-center overflow-y-auto max-h-[calc(740px-5rem)] snap-y snap-proximity;

  scrollbar-color: rgba(100, 230, 42, 0.6) rgba(0, 0, 0, 0);
  scrollbar-width: thin;

}
.wizard-step__content-wrapper--chat{
  @apply max-h-[calc(740px-5rem-2.5rem)];
}

.wizard-step-card {
  @apply snap-center scroll-mb-24 p-3 transition-all border border-solid border-spacing-6 border-white border-opacity-30 bg-white bg-opacity-5 flex max-w-sm rounded overflow-hidden shadow-lg items-center gap-2 h-[100px] w-[calc(50%-1.5rem)] hover:border-opacity-60 hover:bg-opacity-10;

  border-radius: 6px;
}
.wizard-step-card--inspiration {
  @apply w-[calc(100%-1.5rem)] h-[280px] xs:h-[310px] xs:w-[calc(50%-1.5rem)];
}

.wizard-step-card--full {
  @apply min-w-[calc(100%-2.25rem)];
}

.wizard-step-card > label {
  @apply flex-1 flex flex-col items-center justify-center cursor-pointer h-full w-full text-lg font-bold;
}

.wizard-step-card > label > img {
  border-radius: 6px;
}

.wizard-step-card > label > input {
  @apply hidden;
}

.wizard-step-card--selected,
.wizard-step-card--selected:hover,
.wizard-step-card:focus-within {
  @apply border-opacity-100 bg-opacity-10
}
